
.middle-column {
    background-color: white; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-color: rgba(128, 128, 128, .2);
    border-width: 0 2px 2px 2px;
    border-style: solid;
}

#container_msg {
    height: calc(100vh - 150px);
    overflow-y: auto;
}

/**********/

.bubble {
    display: inline-block;
    position: relative;
    padding: 8px;
    border-radius: 5px;
    background: white;
    font-family: "Permanent Marker";
    clear: both;
    color: black;
    background-color:#ddd;
    max-width: 300px;
    max-height:1000px;

    word-wrap: break-word;
    word-break: break-all;

    // contenteditable="true";

}

.bubble-right {
    background-color: #2dde98;
    color: white;
    float: right;
    margin: 10px 16px 20px 0px; // up right down left
}

.bubble-right:after{
    content:'';
    position:absolute;
    left:100%;
    top:0px;
    width:16px;
    height:16px;
    border-width:0;
    border-style:solid;
    border-color:transparent;
    border-bottom-width:10px;
    border-bottom-color:currentColor;
    border-radius:0 0 32px 0;
    color:#2dde98;
}

.bubble-left {
    float: left;
    margin: 10px 0px 20px 16px; // up right down left
}

.bubble-left:after {
    content:'';
    position:absolute;
    right:100%;
    top:0px;
    width:16px;
    height:16px;
    border-width:0;
    border-style:solid;
    border-color:transparent;
    border-bottom-width:10px;
    border-bottom-color:currentColor;
    border-radius:0 0 0 32px;
    color:#dddddd;
}

// horn

.horn {
    display: inline-block;
    position: relative;
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid black;
    background: white;
    font-family: "Permanent Marker";
    clear: both;
}

.horn:before {
    content: '';
    position: absolute;
    bottom: -50px;
    min-height: 50px;
    width: 90px;
}

.horn.left {
    float: left;
    margin: 10px 100px 60px 10px;
}
.horn.left:before {
    border-radius: 0 0 100%;
    box-shadow: -2px -2px 0 0 #000 inset, -23px 0 0 0 #fff inset, -25px -2px 0 0 #000 inset;
    left: 0;
}

.horn.right {
    float: right;
    margin: 10px 10px 60px 100px;
}
.horn.right:before {
    border-radius: 0 0 0 100%;
    box-shadow: 2px -2px 0 0 #000 inset, 23px 0 0 0 #fff inset, 25px -2px 0 0 #000 inset;
    right: 0;
}

.bubbleTail{
    display: inline-block;
    position:relative;
    right:100%;
    top:0px;
    width:16px;
    height:16px;
    border-width:0;
    border-style:solid;
    border-color:transparent;
    border-bottom-width:10px;
    border-bottom-color:currentColor;
    border-radius:0 0 0 32px;
    color:#dddddd;
}
