{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/socket-handler.js' %}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/customized.css' %}" type="text/css">
    </head>
    <body>
        <div class="container container-fluid" style="max-width:1200px">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" align="center">
                    <h1>Hello EchoBot!!</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" align="center" id="container_msg">
                    <div class="bubble bubble-right">可以問妳什麼問題？</div>
                    <div class="bubble bubble-left">我現在只有開啟回音功能<br>封測中啦…</div>
                    <div class="bubble bubble-right">css 測試</div>
                    <div class="bubble bubble-left">泡泡那種泡泡那種泡</div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <input type="submit" value="Sumit" style="float: right" class="btn btn-primary" id="btn_msg" />
                            <div style="overflow: hidden; padding-right: .5em;">
                                <input type="text" id="input_msg" placeholder="Ask Jenny" class="form-control" style="width: 100%;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

