{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/socket-handler.js' %}"></script>
    </head>
    <body>
        <h1>Hello EchoBot!!</h1>
        <form>
            <table id="table_chat">
                <tbody id="container_msg">
                    <tr>
                        <td>who</td><td>say what~</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="text" id="input_msg"></input></td>
                        <td><button type="submit" id="btn_msg">say it</button></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </body>
</html>

