{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-tw">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/socket-handler.js' %}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/customized.css' %}" type="text/css">
    </head>
    <body>
        <div class="container container-fluid">
            <div class="col-md-3"></div>
            <div class="col-md-6 middle-column">
                <div class="row" align="center">
                        <h1>Hello, EchoBot!!</h1>
                </div>
                <div class="row" style="height: calc(100vh -150px);" id="container_msg">
                        <div class="bubble bubble-right">What can you do for me?</div>
                        <div class="bubble bubble-left">I can only echo for now...<br>Neural network is under construction…</div>
                </div>
                <div class="row">
                        <form>
                            <div class="form-group" style="margin: 0 5px 5px 5px">
                                <input type="submit" value="Sumit" style="float: right" class="btn btn-primary" id="btn_msg" />
                                <div style="overflow: hidden; padding-right: .5em;">
                                    <input type="text" id="input_msg" placeholder="Say something..." class="form-control" style="width: 100%;" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

