<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <script type="text/javascript" src='{% static "js/jquery.min.js" %}'</script>
        <script type="text/javascript" src='{% static "js/jquery.min.js" %}'</script>
        <script type="text/javascript">
            $(function(){
                $("#btn_msg").click(function(event){
                    var data = $("#input_msg").val();
                    var chat = $("#chat");
                    var ele = $("<tr></tr>");
                    ele.append(
                        $("<td></td>").text(data)
                    );
                    chat.append(ele);
                    return false
                });
            });
        </script>
    </head>
    <body>
        <h1>hello world!!</h1>
        <form>
            <table id="chat">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <input type="text" id="input_msg"></input>
                            <button type="submit" id="btn_msg">say it</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </body>
</html>
